apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: aks-helloworld
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/oluranticode/helloworld-helm
    targetRevision: HEAD
    path: hello-chart
  destination: 
    server: https://kubernetes.default.svc
    namespace: Hello

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true